<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
<head>
    <meta charset="UTF-8">
    <title>Favorite Photo</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body layout:fragment="content">
    <div class="mainStyle">
        <section class="topContent">
            <h2 class="contentTitle"> Gallery </h2>
            <div class="photoBoard">
                <div class="item">
                    <img src="/img/48520033.JPG" alt="img" class="photoTitleImg">
                    <div class="photoTitle">
                        <h2>[MP] leica mp a la carte</h2>
                        <p>조서영 / 2023.09.27</p>
                        <span>라이카 mp a la carte + summicron 35mm 4th + kodak Proimage 100</span> <br /><br />
                        <button class="photoButton"> Read More </button>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/48520033.JPG" alt="img" class="photoTitleImg">
                    <div class="photoTitle">
                        <h2>[MP] leica mp a la carte</h2>
                        <p>조서영 / 2023.09.27</p>
                        <span>라이카 mp a la carte + summicron 35mm 4th + kodak Proimage 100</span> <br /><br />
                        <button class="photoButton"> Read More </button>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/48520033.JPG" alt="img" class="photoTitleImg">
                    <div class="photoTitle">
                        <h2>[MP] leica mp a la carte</h2>
                        <p>조서영 / 2023.09.27</p>
                        <span>라이카 mp a la carte + summicron 35mm 4th + kodak Proimage 100</span> <br /><br />
                        <button class="photoButton"> Read More </button>
                    </div>
                </div>
            </div>

            <hr/>

            <h2 class="contentTitle"> Market </h2>
            <div class="photoBoard">
                <div class="item">
                    <img src="/img/IMG_1469.JPG" alt="img" class="photoTitleImg">
                    <div class="photoTitle">
                        <h2>leica mp a la carte 판매합니다.</h2>
                        <p>조서영 / 2023.09.27</p>
                        <span>라이카 mp a la carte 판매합니다. 가격은 </span> <br /><br />
                        <button class="photoButton"> Read More </button>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/IMG_1469.JPG" alt="img" class="photoTitleImg">
                    <div class="photoTitle">
                        <h2>leica mp a la carte 판매합니다.</h2>
                        <p>조서영 / 2023.09.27</p>
                        <span>라이카 mp a la carte 판매합니다. 가격은 </span> <br /><br />
                        <button class="photoButton"> Read More </button>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/IMG_1469.JPG" alt="img" class="photoTitleImg">
                    <div class="photoTitle">
                        <h2>leica mp a la carte 판매합니다.</h2>
                        <p>조서영 / 2023.09.27</p>
                        <span>라이카 mp a la carte 판매합니다. 가격은 </span> <br /><br />
                        <button class="photoButton"> Read More </button>
                    </div>
                </div>
            </div>
            <br/>
        </section>
    </div>
</body>
</html>