<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
<head>
    <meta charset="UTF-8">
    <title>Favorite Photo</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:inline="javascript"> /*<![CDATA[*/ const imageUrls = /*[[ ${imageUrls} ]]*/ []; /*]]>*/ </script>
    <script type="text/javascript" th:src="@{/js/gallery.js}"></script>
</head>
<body layout:fragment="content">
    <div class="mainStyle">
        <section class="topContent">
            <div class="contentTitle">
                <a th:href="@{/gallery/galleryMain}">Gallery</a>
            </div>
            <div class="photoBoard">
                <div th:each="galleryItem, iterStat : ${gallery}" class="item">
                    <div th:if="${imageUrls.size() > iterStat.index}">
                        <img th:src="${imageUrls[__${iterStat.index}__]}" alt="img" class="photoTitleImg">
                    </div>
                    <div class="photoTitle">
                        <h2 th:text="${galleryItem.title}"></h2>
                        <p th:if="${galleryItem.modifiedDate == null}" th:text="${galleryItem.nickname} + ' / ' + ${#strings.replace(galleryItem.createDate, 'T', ' ')}"></p>
                        <p th:if="${galleryItem.modifiedDate != null}" th:text="${galleryItem.nickname} + ' / ' + ${#strings.replace(galleryItem.modifiedDate, 'T', ' ')} + '(수정됨)'"></p>
                        <button class="photoButton" id="readMore" th:data-id="${galleryItem.id}">Read More</button>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="contentTitle">
                <a th:href="@{/market/marketMain}">Market</a>
            </div>
            <div class="marketBoard">
                <div th:each="marketItem : ${market}" class="item">
                    <a th:href="${marketItem.homepageUrl}" target="_blank">
                        <img th:src="${marketItem.imgUrl}" alt="img" class="marketTitleImg">
                        <div class="marketTitle">
                            <p th:text="${marketItem.title}"></p>
                            <p th:text="${marketItem.price}"></p>
                        </div>
                    </a>
                </div>
            </div>
            <br/>
        </section>
    </div>
</body>
</html>