<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
<head>
    <meta charset="UTF-8">
    <title>Favorite Photo</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:inline="javascript"> /*<![CDATA[*/ const imageUrls = /*[[ ${imageUrls} ]]*/ []; /*]]>*/ </script>
    <script type="text/javascript" th:src="@{/js/gallery.js}"></script>
</head>
<body layout:fragment="content">
    <div class="mainStyle">
        <section class="topContent">
            <div class="contentTitle">
                <a th:href="@{/gallery/galleryMain}">Gallery</a>
            </div>
            <div class="photoBoard">
                <div th:each="galleryItem, iterStat : ${page}" class="item">
                    <div th:if="${imageUrls.size() > iterStat.index}">
                        <img th:src="${imageUrls[__${iterStat.index}__]}" alt="img" class="photoTitleImg">
                    </div>
                    <div class="photoTitle">
                        <h2 th:text="${galleryItem.title}"></h2>
                        <p th:if="${galleryItem.modifiedDate == null}" th:text="${galleryItem.nickname} + ' / ' + ${#strings.replace(galleryItem.createDate, 'T', ' ')}"></p>
                        <p th:if="${galleryItem.modifiedDate != null}" th:text="${galleryItem.nickname} + ' / ' + ${#strings.replace(galleryItem.modifiedDate, 'T', ' ')} + '(수정됨)'"></p>
                        <button class="photoButton" id="readMore" th:data-id="${galleryItem.id}">Read More</button>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="contentTitle">
                <a th:href="@{/market/marketMain}">Market</a>
            </div>
            <div class="photoBoard">
                <div class="item">
                    <img src="/img/i-img1200x797-1668359679see7e7142563.jpg" alt="img" class="photoTitleImg">
                    <div class="photoTitle">
                        <h2>leica mp a la carte 판매합니다.</h2>
                        <p>조서영 / 2023.09.27</p>
                        <span>라이카 mp a la carte 판매합니다. 가격은 </span> <br /><br />
                        <button class="photoButton"> Read More </button>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/IMG_1469.JPG" alt="img" class="photoTitleImg">
                    <div class="photoTitle">
                        <h2>leica mp a la carte 판매합니다.</h2>
                        <p>조서영 / 2023.09.27</p>
                        <span>라이카 mp a la carte 판매합니다. 가격은 </span> <br /><br />
                        <button class="photoButton"> Read More </button>
                    </div>
                </div>
                <div class="item">
                    <img src="/img/IMG_0564 크게.jpeg" alt="img" class="photoTitleImg">
                    <div class="photoTitle">
                        <h2>leica mp a la carte 판매합니다.</h2>
                        <p>조서영 / 2023.09.27</p>
                        <span>라이카 mp a la carte 판매합니다. 가격은 </span> <br /><br />
                        <button class="photoButton"> Read More </button>
                    </div>
                </div>
            </div>
            <br/>
        </section>
    </div>
</body>
</html>