<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
<head>
    <meta charset="UTF-8">
    <title>gallery</title>
    <link rel="stylesheet" th:href="@{/css/gallery.css}">
    <script th:inline="javascript"> /*<![CDATA[*/ const loginMember = /*[[ ${loginMember} ]]*/ []; /*]]>*/ </script>
    <script th:inline="javascript"> /*<![CDATA[*/ const imageUrls = /*[[ ${imageUrls} ]]*/ []; /*]]>*/ </script>
    <script type="text/javascript" th:src="@{/js/gallery.js}"></script>
</head>
<body layout:fragment="content">
    <div class="galleryStyle">
        <section class="galleryContent">
            <div class="contentTitle">
                <span> Gallery </span>
                <input type="button" id="writeButton" onclick="writeButtonClick()" value="write">
            </div>
            <div class="photoBoard">
                <div th:each="galleryItem, iterStat : ${page}" class="item">
                    <div th:if="${imageUrls.size() > iterStat.index}">
                        <img th:src="${imageUrls[__${iterStat.index}__]}" alt="img" class="photoTitleImg">
                    </div>
                    <div class="photoTitle">
                        <h2 th:text="${galleryItem.title}"></h2>
                        <p th:if="${galleryItem.modifiedDate == null}" th:text="${galleryItem.nickname} + ' / ' + ${#strings.replace(galleryItem.createDate, 'T', ' ')}"></p>
                        <p th:if="${galleryItem.modifiedDate != null}" th:text="${galleryItem.nickname} + ' / ' + ${#strings.replace(galleryItem.modifiedDate, 'T', ' ')} + '(수정됨)'"></p>
                        <button class="photoButton" id="readMore" th:data-id="${galleryItem.id}">Read More</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="pageNation">
                <th:block th:if="${previous >= 0}">
                    <a th:href="@{'/gallery/galleryMain?page=' + ${previous}}">◀︎</a>
                </th:block>
                <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                    <span th:if="${i == page.number}" th:text="${i + 1}"></span>
                    <a th:unless="${i == page.number}" th:href="@{'/gallery/galleryMain?page=' + ${i}}">[[${i + 1}]]</a>
                </th:block>
                <th:block th:if="${next < page.totalPages}">
                    <a th:href="@{'/gallery/galleryMain?page=' + ${next}}">▶︎</a>
                </th:block>
            </div>
        </section>
    </div>
</body>
</html>