<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- headerFragment 선언 -->
<div th:fragment="headerFragment">
    <div class="headerStyle">
        <a th:href="@{/gallery/galleryMain}" class="menu">gallery</a>
        <a th:href="@{/market/marketMain}" class="menu">market</a>

        <a href="/main" class="headerTitle"> Favorite Photo </a>

        <a th:href="@{/member/login}" th:if="${session.loginMember == null}" class="member">login</a>
        <a th:href="@{/member/join}" th:if="${session.loginMember == null}" class="member">join</a>

        <a th:href="@{/member/myPage}" th:if="${session.loginMember != null}" class="member">myPage</a>
        <a th:href="@{/member/logout}" th:if="${session.loginMember != null}" class="member">logout</a>

        </form>
    </div>
</div>
</html>