<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- headerFragment 선언 -->
<div th:fragment="headerFragment">
    <div class="headerStyle">
        <img src="/img/menu.png" alt="memu" class="headerMenuBtn" id="headerMenuBtn" onclick="menuClick()">
        <a href="/main" class="headerTitle"> Favorite Photo </a>
        <img src="/img/search.png" alt="search" class="headerSearchBtn" id="headerSearchBtn" onclick="searchClick()">

        <div class="menu" id="menu">
            <a th:href="@{/gallery/galleryMain}">gallery</a>
            <a th:href="@{/market/marketMain}">market</a>
            <a th:href="@{/member/login}">login</a>
            <a th:href="@{/member/join}">join</a>
        </div>

        <div class="search" id="search">
            <input type="text" placeholder="search" class="searchText">
            <input type="button" value="search" class="searchBtn">
        </div>
    </div>
</div>
</html>