.galleryStyle {
    text-align: center;
    overflow: auto;
}

.galleryContent {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    width: 1340px;
}

.galleryContent .contentTitle {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.contentTitle span {
    text-align: left;
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;
}

.contentTitle #writeButton {
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 60px;
    height: 30px;
    margin-right: 40px;
    margin-top: 2px;
}

.photoBoard {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈을 허용하는 속성 */
    text-align: left;
    margin: 0, auto;
    top: 20%;
    left: 0;
    right: 0;
}

.item {
    min-width: 400px;
    max-width: 400px;
    flex: 3;
    margin: 20px;
    box-sizing: border-box;
}

.photoTitleImg {
    width: 400px;
    min-height: 300px;
    max-height: 300px;
    padding-right: 10px;
}

.photoTitle {
    margin-top: -10px;
}

.photoTitle p {
    margin-top: -20px;
    font-size: 12px;
}

.photoButton {
    text-align: left;
}

.photoButton {
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
}

.photoButton:hover {
    cursor: pointer;
}
#writeButton:hover {
    cursor: pointer;
}


.detailContent {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    width: 900px;
}

.detailContent img {
    width: 100%;
}

.galleryButton {
    display: flex;
    justify-content: right;
}
.galleryButton button {
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 60px;
    height: 37px;
    margin-left: 4px;
}

.reply .replyView {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.replyView span {
    width: 90%;
    height: 37px;
}

.reply {
    margin-bottom: 20px;
}

.reply button {
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 60px;
    height: 37px;
}

.reply #replySubmit {
    text-align: center;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 60px;
    height: 37px;
    margin-left: 8.5px;
}

.reply #replyText {
    height: 30px;
    width: 91%;
}

#replySubmit:hover { cursor: pointer; }
button:hover { cursor: pointer; }