.headerStyle {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid lightgray;
    height: 15%;
    background-color: white;
}

.headerStyle .headerTitle {
    font-size: 30px;
    position: relative;
    top: 40%;
}

.headerMenuBtn {
    width: 25px;
    position: relative;
    top: 40%;
    right: 35%;
}

.headerSearchBtn {
    width: 30px;
    position: relative;
    top: 40%;
    left: 35%;
}

.menu {
    position: relative;
    top: 50%;
    right: 37.5%;
    display: none;
}

.search {
    position: relative;
    top: 37%;
    left: 37%;
    display: none;
}

.search .searchBtn {
    border-color: black;
    background-color: black;
    color: white;
    margin-left: -5px;
}
.search .searchText {
    outline: none;
}
a {
    text-decoration: none;
    color: black;
}

.search .searchText:focus { border: 2px solid black; }
.headerMenuBtn:hover { cursor: pointer; }
.headerSearchBtn:hover { cursor: pointer; }
.search .searchBtn:hover { cursor: pointer; }
a:hover { text-decoration: underline; }


.footerStyle {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
