.writeContent {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 75%;
    text-align: left;
}

.writeContent .title{
    font-weight: bold;
    margin-bottom: 10px;
}

.writeContent input {
    width: 80%
}

.writeContent .button {
    text-align: right;
    margin-top: 10px;
}
.button input{
    width: 100px;
    height: 45px;
    border: 1px solid black;
    background-color: black;
    color: white;
}

.ck-editor__editable { height: 800px; }

.button:hover { cursor: pointer; }